@import "./utilities/variables";
@import "./utilities/extends";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

*{
  font-family: 'Times New Roman', Times, serif;
}
.transicion:hover{
  color: rgb(255, 255, 0);
}
.transicion{
  transition: color 0.3;
}
.navbar-collapse.show ~ .overlay-texto {
  opacity: 0;
  pointer-events: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}