
.footer {
  background-color: black;
  color: $rojo; // Usá tu variable o reemplazalo por un color directo
  padding: 20px 0;
  text-align: center;
  margin-top: auto;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media (min-width: 576px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 40px;
    }
  }

  .footer-texto {
    font-size: 14px;
  }

  .redes {
    display: flex;
    gap: 15px;

    img {
      width: 30px;
      height: 30px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}