
h1{
  font-size: 50px;
  color: $rojo;
  border-radius: 5px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 4px black;
}
.header-tecno {
  background-image: url(../img/tecnologiasBack.webp);
 @extend %headerss
}
.header-noticias {
  background-image: url(../img/noticiasBack.jpg);
  @extend %headerss
}
.header-lanzamientos {
  background-image: url(../img/lanzamientosBack.webp);
 @extend %headerss
}
.header-contacto{
  background-image: url(../img/inicioBack.jpg);
@extend %headerss
}
.header-index{
  background-image: url(../img/inicioBack.jpg);
  @extend %headerss
}
#navbarSupportedContent{
  margin: 40px;
}
.Logo{
width: 5rem;
border-radius: 50%;
height: 5rem;
object-fit: cover;
margin: 30px;
}
.fondo{
 height: 293%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534);
}

.contenedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.navbar {
    position: relative;
    z-index: 1;
  }

  .h1Prin {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;

 h1 {
      font-size: 40px;
      color: $rojo; 
      text-shadow: 2px 2px 4px black;
    }
  }

  @media (max-width: 991.98px) {
    .navbar-collapse.show ~ .h1Prin {
      opacity: 0;
      pointer-events: none;
    }
  }
  @media (max-width: 481.98px) {
    .fondo {
      height: 233%;
    }
  }
  
